<%- include('partials/header'); -%>
<div class="row">
<div class="col-md-3">
    <div class="row justify-content-center">
        <div class="col-md-6 "><img src="assets/img/profile.png" alt="profile pic" style="width:100%; border-radius: 50%;"></div>
    </div>
    <div class="row justify-content-center" >
        <div class="col-md-12 " data-aos="fade-right"><h4 style="color:rgb(252, 113, 58); text-align:center;"><%= user.name %></h4></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12 " data-aos="fade-right"><h5 style="text-align:center;"><a href="mailto:<%= user.email %>"><%= user.email %></a></h5></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12" data-aos="fade-right"><h5 style="text-align:center;"><%= user.degree %> Student (<%= user.gradyear %>)</h5></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12 " data-aos="fade-right"><h5 style="text-align:center;">Studying in <%= user.college %></h5></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 justify-content-right" data-aos="fade-right"><h5 style="text-align:right;"><a href="https://<%= user.linkedin %>" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a></h5></div>
        <div class="col-md-6 justify-content-left" data-aos="fade-right"><h5 style="text-align:left;"><a href="mailto:<%= user.email %>"><i class="fas fa-paper-plane"></i></a></h5></div>
        
    </div>
</div>
<% var count=0; %>
<div class="col-md-9 effect">
    <% if(user.result.length === 0){ %>
        <h5 style="margin-top:150px;"><a href="/main-form">Click Here</a> to assess yourself, and get your job predicted</h5>
    <% }else{ %>
    <% user.result.reverse().forEach((element)=>{ %>
        <div class="row">
            <div class="row">
                <div class="col-md-3">
                    <h5><%= element.date %></h5>
                </div>
                <div class="col-md-9"><hr style="height: 4px; color: black;"/></div>
                
            </div>
            <div class="row">
                <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="assets/img/jobs-img/<%=element.s1%>.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title" style="font-weight: 700;"><%= element.s1 %></h5>
                          <h6 class="card-subtitle mb-2 text-muted"><%= element.date %></h6>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <h6 style="font-size: 13px; color: rgba(0, 0, 0, 0.5);">Decision Tree Classifier</h6>
                        </div>
                    </div>
                </div> 
                <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="assets/img/jobs-img/<%=element.s2%>.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title"  style="font-weight: 700;"><%= element.s2 %></h5>
                          <h6 class="card-subtitle mb-2 text-muted"><%= element.date %></h6>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <h6 style="font-size: 13px; color: rgba(0, 0, 0, 0.5);">Support Vector Machine Classifier</h6>
                        </div>
                    </div>
                </div> 
                <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="assets/img/jobs-img/<%=element.s3%>.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title" style="font-weight: 700;"><%= element.s3 %></h5>
                          <h6 class="card-subtitle mb-2 text-muted"><%= element.date %></h6>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <h6 style="font-size: 13px; color: rgba(0, 0, 0, 0.5);">Random Forest Classifier</h6>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="row response" id='demo'>
                <div class="col-md-4">
                    <h6>Logical Quotient Rating: <%= element.response.q1 %> </h6>
                    <h6>Coding Skills Rating: <%= element.response.q2 %> </h6>
                    <h6>Hackathons Attended: <%= element.response.q3 %> </h6>
                    <h6>Public Speaking points: <%= element.response.q4 %> </h6>
                    <h6>Self Learning Capability: <%= (element.response.q5)?"Yes":"No" %> </h6>
                    <h6>Extra Courses did?: <%= (element.response.q6)?"Yes":"No" %> </h6>
                    <h6>Reading and Writing Skills: <% if(parseInt(element.response.q10) == 0){ %>
                        <% str = "Poor"; %>
                        <% }else if(parseInt(element.response.q9) == 1){ %>
                        <% str = "Medium"; %>
                        <% }else{ %>
                        <% str = "Excellent"; %>
                        <% } %>
                        <%= str %> 
                    </h6>
                </div><% var str = "" %>
                <div class="col-md-4">
                    <h6>Memory Capability: <% if(parseInt(element.response.q11) == 0){ %>
                        <% str = "Poor"; %>
                        <% }else if(parseInt(element.response.q9) == 1){ %>
                        <% str = "Medium"; %>
                        <% }else{ %>
                        <% str = "Excellent"; %>
                        <% } %>
                        <%= str %> 
                    </h6>
                    <h6>Taken inputs from Seniors?: <%= (element.response.q7)?"Yes":"No" %> </h6>
                    <h6>Worked in team ever?: <%= (element.response.q8)?"Yes":"No" %> </h6>
                    <h6>Introvert?: <%= (parseInt(element.response.q9))?"Yes":"No" %> </h6>
                    <h6>Hard Worker: <%= (parseInt(element.response.q12a))?"Yes":"No" %> </h6>
                    <h6>Smart Worker: <%= (element.response.q12b)?"Yes":"No" %> </h6>
                    <h6>Management: <%= (element.response.q13a)?"Yes":"No" %> </h6>
                    
                </div>
                <div class="col-md-4">
                    <h6>Technical: <%= (element.response.q13b)?"Yes":"No" %> </h6>
                    <h6>Interested Subject: <%= element.response.q14 %> </h6>
                    <h6>Interested Type of Books: <%= element.response.q15 %> </h6>
                    <h6>Certification: <%= element.response.q16 %> </h6>
                    <h6>Workshop: <%= element.response.q17 %> </h6>
                    <h6>Type of company want to settle in?: <%= element.response.q18 %> </h6>
                    <h6>Interested Career Area: <%= element.response.q19 %> </h6>
                </div>
            </div>
        </div>
        
    <% }); }%>

</div>

</div>
<%- include('partials/footer'); -%>


