<%- include('partials/adminheader'); -%>
<div class="row">
    <div class="col-md-3">
        <div class="row justify-content-center">
            <div class="col-md-6 "><img src="assets/img/profile.png" alt="profile pic" style="width:100%; border-radius: 50%;"></div>
        </div>
        <div class="row justify-content-center" >
            <div class="col-md-12 " data-aos="fade-right"><h4 style="color:rgb(252, 113, 58); text-align:center;"><%= admin.name %></h4></div>
        </div>
        <div class="row justify-content-center" >
            <div class="col-md-12 " data-aos="fade-right"><h4 style="text-align:center;">HR Manager</h4></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 " data-aos="fade-right"><h5 style="text-align:center;"><a href="mailto:<%= admin.email %>"><%= admin.email %></a></h5></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12" data-aos="fade-right"><h5 style="text-align:center;"><%= admin.organization %></h5></div>
        </div>
       
        <div class="row justify-content-center" data-aos="fade-right">
            <div class="col-md-4 justify-content-right"><h5 style="text-align:right;"><a href="<%= admin.orgwebsite %>" target="_blank"><i class="fas fa-at fa-lg"></i></a></h5></div>
            <div class="col-md-4 justify-content-center"><h5 style="text-align:center;"><a href="<%= admin.linkedin %>" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a></h5></div>
            <div class="col-md-4 justify-content-left"><h5 style="text-align:left;"><a href="mailto:<%= admin.email %>"><i class="fas fa-paper-plane"></i></a></h5></div>
            
        </div>
    </div>
    <div class="col-md-9 effect">
         <%var roles %>
         <% var count=0; %>
         <% roles.forEach((element) => { %>
         <%  if(count%3 == 0){ %>
                <div class="row">
         <% } %>
    <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/img/jobs-img/<%=element.name%>.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title" style="font-weight: 700;"><%= element.name %></h5>
                <a href="/displayres-<%=element.name%>" class="btn"> Click here to find candidates for this role! </a>
            </div>
        </div>
    </div> 
    <% count++; %>
    <% if(count%3 == 0){ %>
        </div>
    <% } %>
         <% }); %>
</div></div>

<%- include('partials/footer'); -%>